.bottom {
  margin: -0.55%;
  background-color: rgb(0, 7, 7);
}


.top {
  background-color: rgb(0, 0, 2);
  padding-bottom: 5%;
  padding-top: 0%;
  margin: -3.2%;
  color: rgb(248, 249, 250);
}

.fset {

 border-color: rgba(3, 42, 42, 0.904);
 border-width: 3px;
 padding-top: 1%;
 color: rgb(248, 249, 250);
 font-family: Arial, Helvetica, sans-serif;
}

.search {
  background-color: rgb(4, 4, 4);
  border-color: rgb(3, 245, 245);
  padding: 1%;
}

input, select, textarea{
  color: #f9f9f9;
  font-size: 100%;
}

.body {
  background-color: rgb(0, 7, 7);
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  cursor: pointer;

}
